SECRET_KEY=<fill>
TRELOLO_API_KEY=<fill>
TRELOLO_TOKEN=<fill>
TRELOLO_MAIN_BOARD=<fill>
TRELOLO_TOP_BOARD=<fill>
CALLBACK_URL=<fill>
GITLAB_URL=<fill>
GITLAB_TOKEN=<fill>
FLASK_HOST=<fill>
FLASK_PORT=<fill>
REDIS=<fill>
SQLALCHEMY_DATABASE_URI=<fill>
ADMIN_USER=<fill>
ADMIN_PASSWORD=<fill>
